
<div class="jumbotron jumbotron-fluid" id="jumbotron">
        <h1 class="display-3">Welcome, <%= current_user.first_name %>!</h1>
        <div class="nav_buttons">
            <a href="/logout" role="button" class="btn btn-primary" id="account">Edit your Account</a>
            <a href="/logout" role="button" class="btn btn-warning" id="guide">Hiking Guide</a>
            <a href="/find/hikes" role="button" class="btn btn-success" id="new_hike">Find a new Hike!</a>
            <a href="/logout" role="button" class="btn btn-danger" id="logout_head">Logout</a>
        </div>
</div>

<div class="main">
    <div class="card">
        <img class="card-img-top" src="https://menla.org/wp-content/uploads/2018/03/Hiking-Trail-No-People-2-800x800.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Create a new Hike!</h4>
                <form action="/create/hike" method="POST" id="hike_form">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="hike[user_id]" value="<%= current_user.id %>">

                    <div class="form-group row">
                        <label>Hike Description</label>
                            <div class="col-sm-20">
                                <input type="text" class="form-control" name="hike[description]" placeholder="Describe your hike">
                            </div>
                    </div>
                        <label>Trail</label>
                        <div class="col-sm-20">
                            <input type="text" class="form-control" name="hike[trail]" placeholder="Trail this hike will take">
                        </div>
                            <label>City</label>
                                <div class="col-sm-20">
                                    <input type="text" class="form-control" name="hike[city]" placeholder="City the trail is in">
                                </div>
                                <label>State</label>
                                    <div class="col-sm-20">
                                        <input type="text" class="form-control" name="hike[state]" placeholder="State the trail is in">
                                    </div>
                                        <label>Date</label>
                                                <div class="col-sm-20">
                                                        <input type="date" class="form-control" name="hike[hike_date]" placeholder="Date of your hike">
                                                </div>
                                            <label>Time</label>
                                                <div class="col-sm-20">
                                                    <input type="text" class="form-control" name="hike[time]" placeholder="Time the hike will begin">
                                                </div>
                                                <label>Picture</label>
                                                    <div class="col-sm-20">
                                                        <input type="text" class="form-control" name="hike[image_url]" placeholder="Please copy a valid link to a picture of your hike">
                                                    </div><br>
                                                        <div class="form-group row">
                                                            <div class="col-sm-10 offset-sm-2">
                                                                <button type="submit" class="btn btn-success" style="margin-left: 50px">Create Hike!</button>
                                                            </div>
                                                        </div><br>
                                                </form>
                                            </div>
                                    </div>
<div class="hike_table">
    <table class="table table-hover">
        <thead>
            <h2 style="color: ivory; font-weight:bolder">Your Current Hikes</h2>
            <tr id="table_headers">
                <th>Description</th>
                <th>Trail</th>
                <th>City</th>
                <th>State</th>
                <th>Date</th>
                <th>Time</th>
                <th>Photo</th>
                <th>Weather</th>
                <th>Creator</th>
                <th>Actions</th>
            </tr>
        </thead>
<% @hikes.each do |hike| %>
        <tbody>
            <tr id="table_data">
                <td><a id="table_data" href="/show/hike/<%= hike.id %>" role="button" class="btn btn-warning"><%= hike.description %></a></td>
                <td><a href="https://www.google.com/search?q=+<%= hike.trail %>+<%= hike.city %>" target="_blank" role="button" class="btn btn-secondary"><%= hike.trail %></a></td>
                <td><a href="https://www.google.com/search?q=+<%= hike.city %>+<%= hike.state %>" role="button" target="_blank" class="btn btn-primary"><%= hike.city %></a></td>
                <td><a href="https://www.google.com/search?q=+<%= hike.state %>" role="button" target="_blank" class="btn btn-info"><%= hike.state %></a></td>
                <td><%= hike.hike_date.strftime("%m/%d/%Y") %></td>
                <td><%= hike.time %></td>
                <td><img id="hike" src="<%= hike.image_url %>" alt="<%= hike.description %>"></td>
                <td><a href="https://www.google.com/search?q=<%= hike.city %>+weather" target="_blank" role="button" class="btn btn-primary">View Weather</a></td>
                <td><%= hike.user.first_name %> <%= hike.user.last_name %></td>
                <% if not hike.users_joined.include?(current_user) %>
                <td><a href="/join/<%= hike.id %>" role="button" class="btn btn-success" data-method="POST">Join</a></td>
                <% else %>
                <td><a href="/unjoin/<%= hike.id %>" role="button" class="btn btn-danger" data-method="delete">Un-Join</a></td>
                <% end %>
                <td>
        </tbody>
<% end %>
</table>



